In [1]:
# Import necessary packages

import pandas as pd

In [2]:
# Load netflix dataset into a pandas dataframe

netflix_data = pd.read_csv("netflix_data.csv")

In [3]:
# Get the shape of the dataframe (number of rows, number of columns)

netflix_data.shape

(7787, 11)

In [4]:
# Display first few rows of dataframe

netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"

In [5]:
# Group by "director" and get the first few rows 

netflix_data.groupby("director").count().head()

,show_id,type,title,cast,country,date_added,release_year,rating,duration,genres
director,,,,,,,,,,
A. L. Vijay,2,2,2,2,2,2,2,2,2,2
A. Raajdheep,1,1,1,1,1,1,1,1,1,1
A. Salaam,1,1,1,1,1,1,1,1,1,1
A.R. Murugadoss,2,2,2,2,1,2,2,2,2,2
Aadish Keluskar,1,1,1,1,1,1,1,1,1,1

In [6]:
# Sort values in "release_year"
# To get the release years in ascending order

netflix_data["release_year"].sort_values()

4298    1925
4402    1942
5688    1942
7423    1943
7353    1943
        ...
4562    2021
1937    2021
6087    2021
7384    2021
3528    2021
Name: release_year, Length: 7787, dtype: int64