In [1]:
# import pandas package

import pandas as pd

In [2]:
# Load netflix data into a pandas data frame

netflix_data = pd.read_csv("netflix_data.csv")

In [3]:
# Get the shape of the dataframe


netflix_data.shape

(7787, 11)

In [4]:
# Display the first few rows of the data frame

netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers"
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies"
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV"

In [5]:
# Group by 'director' and get the first few rows

netflix_data.groupby("director").count().head()

,show_id,type,title,cast,country,date_added,release_year,rating,duration,genres
director,,,,,,,,,,
A. L. Vijay,2,2,2,2,2,2,2,2,2,2
A. Raajdheep,1,1,1,1,1,1,1,1,1,1
A. Salaam,1,1,1,1,1,1,1,1,1,1
A.R. Murugadoss,2,2,2,2,1,2,2,2,2,2
Aadish Keluskar,1,1,1,1,1,1,1,1,1,1

In [6]:
netflix_data["release_year"].sort_values()

4298    1925
4402    1942
5688    1942
7423    1943
7353    1943
        ...
4562    2021
1937    2021
6087    2021
7384    2021
3528    2021
Name: release_year, Length: 7787, dtype: int64

In [7]:
# Get number of missing values in each column of the dataframe

netflix_data.isna().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
dtype: int64

In [8]:
# Get the total number of rows that contain missing values

netflix_data.isna().sum().sum()

3631

In [10]:
# Percentage of rows with missing values
(netflix_data.isna().sum().sum() / netflix_data.shape[0]) * 100

46.628997046359316

In [11]:
# Drop rows containing missing values

netflix_data = netflix_data.dropna()

In [13]:
netflix_data.shape

(4808, 11)

In [14]:
# Investigate for Duplicates

netflix_data.duplicated()

1       False
2       False
3       False
5       False
6       False
        ...
7778    False
7781    False
7784    False
7785    False
7786    False
Length: 4808, dtype: bool

In [15]:
# Get count of duplicates

netflix_data.duplicated().sum()

0

In [17]:
# Get the data type of "date_added" column

netflix_data["date_added"].dtype

dtype('O')

In [18]:
# Get the data type of the first entry in "date_added" column

type(netflix_data["date_added"].iloc[0])

str

In [19]:
# Convert the "date_added" column to datetime format

netflix_data["date_added"] = pd.to_datetime(netflix_data["date_added"])

In [20]:
netflix_data["date_added"]

1      2017-12-15
2      2019-01-05
3      2016-03-01
5      2019-02-25
6      2021-01-01
          ...
7778   2019-06-21
7781   2019-10-01
7784   2016-08-26
7785   2019-03-08
7786   2016-12-06
Name: date_added, Length: 4808, dtype: datetime64[ns]

In [21]:
# Get the dat type of the "release_year" column

netflix_data["release_year"].dtype

dtype('int64')